@model Lab24.Customer

@{
    ViewBag.Title = "Index";
}
<h1 style="text-align:center">Maintain Customer Data</h1>
<p style="text-align:center;"><img src="~/Content/image/023.png" alt="CR" /></p>
<h2>Menu</h2>


<ul>
    <li>@Html.ActionLink("List","List")</li>
    <li>@Html.ActionLink("Add","Add")</li>
    <li>@Html.ActionLink("Delete","List")</li>
    <li>@Html.ActionLink("Modify", "List")</li>
</ul>


